
  <!-- Cover Photo-->
  <div back-img="img/cover/cover-tiada.png" class="cover-top">
   
  </div>
  <!-- End Cover Photo-->

  <div class="container-fluid dark-grey-background">
    <div class="col-md-4 col-md-offset-4">
      <div class="row  text-center padding-title">
        <h1 class="text-uppercase h1-title">Gangster</h1>
        <p class="text-uppercase p-title">siri terbaik pada bulan ini.</p>
        <div class="btn btn-default text-uppercase">Baca Sekarang</div>
      </div>
    </div>
  </div>

  <!-- Terkini-->
  <div class="padding-section">
    <div class="container">
      <div class="row comic-title text-center">
        <div class="container">

          <div class="row">

            <div class="col-md-12">
              <h4>TERKINI</h4>
              <p>Episod baru bagi siri Aretis yang dikemaskini pada hari Isnin sahaja.</p>
            </div>
            
          </div>
          
          <div class="row padding-content">

            <div class="col-md-3 col-sm-6">
              <a href="#/komik/siri/apa"><img class="thumbnails-komik" src="komik/siri/apa/ep04/cover.jpg"></a>
              <h4>APA</h4>
              <div>
                <p>Inderawasih</p>
                <p><b>Episod 04</b></p>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <a href="#/komik/siri/gangster"><img class="thumbnails-komik" src="komik/siri/gangster/ep12/cover.jpg"></a>
                <h4>GANGSTER</h4>
                <div>
                  <p>Hanza</p>
                  <p><b>Episod 12</b></p>
                </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
   <!-- End Terkini-->

  <hr>

  <!-- Popular-->
  <div class="padding-section">
    <div class="container">
      <div class="row comic-title text-center">
        <div class="container">
        
          <div class="row">
            <div class="col-md-12">
              <h4>POPULAR</h4>
              <p>Siri Aretis paling popular.</p>
            </div>
          </div>
          
          <div class="row padding-content">

            <div class="col-md-3 col-sm-6">
              <a href="#/komik/siri/gangster"><img class="thumbnails-komik" src="komik/siri/gangster/ep12/cover.jpg"></a>
                <h4 class="text-uppercase">gangster</h4>
                <div>
                  <p>Hanza</p>
                </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
   <!-- End Popular-->
  
  <hr>

  <!--  Pilihan Editor-->
  <div class="padding-section">
    <div class="container">
      <div class="row comic-title text-center">
        <div class="container">
        
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-uppercase">Rekemen</h4>
              <p>Siri Aretis yang direkemenkan.</p>
            </div>
          </div>
          
          <div class="row padding-content">

            <div class="col-md-3 col-sm-6">
              <a href="#/komik/siri/pendar ratna"><img class="thumbnails-komik" src="komik/siri/pendar ratna/ep07/cover.jpg"></a>
                <h4>PENDAR RATNA</h4>
                <div>
                  <p>Amna Shark</p>
                </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!--  End Pilihan Editor -->