
  <!-- Cover Photo-->
  <header class="komik">
    <div class="container">
      <div class="row padding-top-100 white">
        <div class="container">
          <h1><b>TENTANG KAMI</b></h1>
          <h4>Sekumpulan anak muda yang sedang berusaha membantu industri komik tempatan.</h4>
        </div>
      </div>
    </div>
  </header>
  <!-- END Cover Photo-->

  <div class="row">
    <div class="container">
      <div class="col-md-4 col-md-offset-4 grey-font center">
        <ul>     
          <a href="#/mengenai"><li class="float-left active">Supreme</li></a>
          <a href="#/tim"><li class="float-left"><b>Tim</b></li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="row color-999">
    <div class="container">
    <h3 class="no-padding">Asal Usul</h3>
    <div>16 November 2014, Supreme Comichat diwujudkan oleh satu komuniti komik Malaysia dikenali sebagai Comichat. Pengasas awal 
bagi webkomik ini adalah Azam Azri, Irfan Foner dan Hafizi Azmi. Supreme diwujudkan atas niat mendidik dan membantu 
pengkarya dalam mempromosikan komik masing-masing disamping memeriahkan industri komik Malaysia.</div>
    <h3 class="no-padding" >Fungsi</h3>
    <div>Salah satu tempat kemudahan berkumpul dan berkomunikasi diantara pengkarya, pembaca dan penerbit di Malaysia. </div>
    <h3 class="no-padding" >Keunikan</h3>
    <div style="padding-bottom: 100px">Supreme bukan webkomik biasa. Kami jadikan Supreme seperti Liga Komik ; dimana pengkarya boleh melibatkan diri dengan
pelbagai acara selain melukis komik. Supreme juga mempunyai sistem pangkat yang membolehkan para pengkarya bersaing dan 
merebut tangga yang teratas - Top 10 terbaik.  </div>
    </div>
  </div>
