  <div class="top">
      <div class="container">
        <div class="row">

          <div class="col-md-10 col-md-offset-1" style="padding-top: 20px">
            <div class="padding-chapter">
              <div class="padding-komik">
                <img class="img-responsive" ng-src="komik/oneshot/{{namaSiri}}/cover.jpg" alt="">
              </div>
            </div>
          </div>   

          <div class="col-md-10 col-md-offset-1 center" ng-repeat="n in range(totalPanel)">   
            <div class="padding-chapter">
              <div class="padding-komik">
                <img class="img-responsive" ng-src="komik/oneshot/{{namaSiri}}/page{{$index+1}}.jpg">
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>