   <!-- Cover Photo-->
  <div ng-repeat="siriDetail in siriDetail">
    <!-- <header class="komik">
       <div class="container">
         <div class="row padding-top-100 white">
           <div class="container" >
             <h1 style="text-transform: uppercase;"><b>{{siriDetail.namaSiri}}</b></h1>
             <p>oleh {{siriDetail.pelukis}}</p>
             <p>{{siriDetail.genre}}</p>
           </div>
         </div>
       </div>
     </header> --> 
  <!-- END Cover Photo-->
   <div back-img="komik/siri/{{siriDetail.namaSiri}}/other/cover-photo.jpg" style="border-bottom: 5px solid #ABC937;" >
     <div class="container">
        <div class="row padding-top-100 white">
          <div class="container" >
            <h1 style="text-transform: uppercase;"><b>{{siriDetail.namaSiri}}</b></h1>
            <p style="padding-bottom: 0px;">oleh {{siriDetail.pelukis}}</p>
            <p style="font-size: 12px;">{{siriDetail.genre}}</p>
          </div>
        </div>
      </div>
   </div>
  <div class="container padding-top sinopsis soft-grey-font">
    <p>
      {{siriDetail.sinopsis}}
    </p>
  </div>

  <!-- Pengkarya-->
  <div class="soft-grey comic-title">
   <div class="container">
     <div class="row black">
       <h1><b>Pengkarya<b></h1>
     </div>
   </div>
     <div class="container">
       <div class="col-md-3 col-sm-6 thumbnail-custom center">
          <a href="">
            <!-- <div class="icon" back-img="komik/siri/{{siriDetail.namaSiri}}/other/dp.jpg" > -->
            <div class="icon" back-img="img/aretis/{{siriDetail.pelukis}}.jpg" >
            </div>
          </a>
          <div>
            <div class="black" style="padding-top: 20px"><b>{{siriDetail.pelukis}}</b></div> 
            <p class="soft-grey-font" style="padding-top: 5px">Pelukis</p> 
          </div>
        </div>
        <div class="col-md-3 col-sm-6 thumbnail-custom center">
          <a href="">
            <!-- <div class="icon" back-img="komik/siri/{{siriDetail.namaSiri}}/other/dp.jpg" > -->
            <div class="icon" back-img="img/aretis/{{siriDetail.penulis}}.jpg" >
            </div>
          </a>
          <div>
            <div class="black" style="padding-top: 20px"><b>{{siriDetail.penulis}}</b></div> 
            <p class="soft-grey-font" style="padding-top: 5px">Penulis</p> 
          </div>
        </div>
      </div>
  </div>
<!-- END Pengkarya-->
  

<!-- Siri -->

  <div class="padding-bottom">
    <div class="container">

      <div class="row comic-title">
        <h1 class="black">
        Siri
        </h1>
      </div>

      <div class="row black">
        <div class="col-md-3 col-sm-6 thumbnail-custom center" ng-repeat="chapter in siriDetail.chapters">
          <a href="#/komik/siri/{{siriDetail.namaSiri}}/{{chapter.episod.komikUrl}}/{{chapter.episod.totalPanel}}">
            <img ng-src="{{chapter.episod.imageUrl}}" class="thumbnails-komik">
          </a>
            <p style="padding-top: 10px;">Episod {{chapter.episod.id}}</p>
          <div> 
          </div>
        </div>
      </div>
      
      <!-- <div class="col-md-4 col-md-offset-4 grey-font center">Komen</div>
        <hr>
        <div class="col-md-6 col-md-offset-3">
          <div class="fb-comments"></div>
        </div> -->  

    </div>
  </div>


</div>
  